<div class="border-bottom border-1 border-dark">
    <div class="container py-md-5">
        <div class="row align-items-center py-md-5">
            <div class="col-12 col-md-6 py-1 py-md-5 text-center text-md-start">
                <h1 class="display-4 fw-bold py-0.5 fw-500"> To the Blog </h1>
                <p class="fs-5 fw-light">
                Insights, stories, and ideas shared with passion.
                </p>
                <button type="button" class="btn btn-dark rounded-pill fw-500 fs-5 px-4">Start Reading</button>
            </div>
            <div class="col">
             
            </div>
        </div>
    </div>    
</div>