
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

.logo{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Tinos", serif;
}

.fw-500{
    font-weight: 500 !important;
}

.infscroll h1{
    font-size: 22px;
    letter-spacing: -0.6px;
}

@media only screen and (min-width: 768px) {
    .infscroll h1{
        font-size: 0.9375rem;
        letter-spacing: -0.0px;
    }
    .infscroll-author,
    .infscroll-date {
        font-size: 0.8125rem;
    }
}