{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Suhail's Blog {% endblock %} </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  
</head>


  <body>
    <h1>Welcome to Suhail's Blog</h1>
    {% block content %}

    {% endblock %}
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html> 


“Hello, my name is Abdul Quadhier Suhail.
I’m an AWS Certified Cloud Practitioner, and I have hands-on experience in deploying and managing cloud infrastructure on AWS.
I’ve worked with services like EC2, S3, IAM, VPC, and CloudWatch, and I’m comfortable with Linux administration and basic networking concepts through my CCNA training.

I recently deployed a Django application on AWS using EC2, Nginx, Gunicorn, and S3, and I also built Python automation scripts using Boto3 to manage EC2 instances and monitor uptime.

I’m passionate about cloud operations and automation, and I’m looking for an opportunity where I can contribute to cloud management tasks while growing in a Cloud Engineering role.”