<style>
    .footer .nav-link{
        padding: 0px 10px 5px 0px;
        text-align: center;
    }

    .footer a{
        color: inherit;
    }
</style>

<footer>
    <ul class="nav fw-500 fs-12"> 
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Privacy</a>
        </li>
    </ul>

</footer>